body{
  background-color: #2F3544;
}

.App {
  text-align: center;
  
}

.input-group{
  width: 60%;
}

.card{
  max-width: 74%;
  
}

.card-title{
  position: absolute;
  padding-top: 20px;
  padding-left: 15px;
  
  
}

.card-date{
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
  
  
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 280px;
  font-size: 50px;
  
}

.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 350px;
  font-size: 16px;
  
}

.col{
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.img-fluid{
  width: 200%;
}

.card-text{
  display: flex;
  justify-content: center;

}